<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Login</title>
	</head>
	<body>
		
		<form th:action="@{/login}" method="post" style="margin: auto; width: 50%;">
			
			<div>
				<input type="text" name="username" placeholder="Username" />
			</div>
			
			<div>
				<input type="password" name="password" placeholder="Password" />
			</div>
			
			<div>
				<input type="checkbox" id="remember-me-check" name="remember-me" />
				<label for="remember-me-check">Remember Me</label>
			</div>
			
			<div>
				<input type="submit" value="Login" />
			</div>
			
		</form>
		
	</body>
</html>